*{margin:0;padding:0}

html,body{
  width: 100vw;
  overflow: hidden;
}

body nav{
  left: 0;
  top: 0;
  background-color: beige;
  width: 100%;
}

nav form{
  padding: 20px;
  width:100%;
  text-align: center;
}

nav form input{
  padding: 5px 8px;
  outline: none;
}

nav form button{
  background: rgba(255,255,255,.2);
  padding: 8px 15px;
  border: 1px solid #ccc;
}

#list{
  padding: 20px;
}

#list ul{
  list-style: none;
}

#list ul li{
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-flex;
  align-items: flex-end;
  margin-right: 20px;
  cursor: pointer;
  background-color: #fcfcfc;
}
#list ul li:active{
  transform: scale(1.01);
}

#list ul li > div{
  vertical-align: middle;
}
#list ul li .avatar{
  width:50px;
  display: flex;
  margin-right: 10px;
}

#list ul li .avatar img{
  max-width: 100%;
}

#list ul li div p{
  font-size: 13px;
}
#list ul li div p:first-child{
  font-size: 16px;
}
#list ul li div p strong, #poupup p strong{
  font-weight: 600;
}

#list ul li div p:first-child strong{
  font-weight: bold;
}

#poupup{
  width: 100%;
  max-width: 400px;
  border: 1px solid #000;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0,0,0,.5) 0px 2px 10px
}

#poupup .avatar{
  width: 200px;
}
#poupup .avatar img{
  max-width: 100%;
}

#poupup .close{
  padding: 1px 7px 4px 7px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #b11;
  color: #fff;
  cursor: pointer;
}